{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb", "plugin:i18next/recommended"],
  "rules": {
    "indent": ["error", 2],
    "max-len": [
      1, 70, 2,
      {
        "ignoreComments": true
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx",".ts"] }],
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "no-unused-vars": "warn",
    "react/require-default-props": "off",
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": "off",
    "react/jsx-props-no-spreading": "warn",
    "no-shadow": "off",
    "no-undef": "warn",
    "import/no-extraneous-dependencies": "warn",
    "no-underscore-dangle": "off",
    "i18next/no-literal-string": ["error", {
      "markupOnly": true
    }]
  },
  "globals": {
    "__IS_DEV__": true
  },
  "plugins": ["react", "i18next"]
}
