.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  &Icon {
    width: 64px;
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);

}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
}
