.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #e5f1fa;
  --primary-color: #18de18;
  --secondary-color: rgb(69 251 69 / 42%);
  --inverted-primary-color: #063a7d;
  --inverted-secondary-color: rgb(13 69 134 / 42%);
}
